.parrafo {
  width: 80%;
}

.container {
  align-items: center;
}

.link {
  text-decoration: none;
}
.title{
  font-family: 'Russo One', sans-serif;
}

.imagesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 10px;
  justify-content: center;
 
  margin-top: 30px;
}

.image {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

