.link{
    text-decoration: none;
}
.link:hover{
    font-size: 1.1rem;
}

.proyect{
    list-style: none;
    border: 3px solid black;
    border-radius: 8px;
    opacity: 0.75;
    height: 500px;
    color: black;    
}
.containerLinks{
    display: flex;
    justify-content: space-around;  
}
.proyect:hover{
    opacity: 1;
    cursor: pointer;
}
.titleCard{
    margin-top: 5px;
    color: black;
}

.image{
    height: 150px;
    margin-bottom: 15px; 
    border-radius:5px;
}

.description{
    font-size: 0.8rem;
    padding: 15px;
}