.proyectsGrid{
    display: grid;
    /* autorellena todo y le agrega un ancho de 230px a las cards */
    grid-template-columns: repeat(auto-fill, 400px);  
    /* gap le da una separacion */
    gap: 40px; 
    padding: 40px;
    justify-content: center;
}

.link{
    text-decoration: none;
}

.proyect{
    list-style: none;
    border: 1px solid;
    border-radius: 8px;
    opacity: 0.75;
}
.proyect:hover{
    opacity: 1;
    cursor: pointer;
}
.titleCard{
    margin-top: 5px;
    color: black;
}

.image{
    width: 300px;
}

@media(max-width:768px){
    .proyectsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);  
        gap: 20px; 
        padding: 20px;
        justify-content: center;
    }

    .image{
        width: 200px;
    }
}