.container{
    color: rgb(255, 255, 255) ;   
    display: grid
} 
.title{
    margin-top: 150px;
    font-size: 8rem;
}

.boton{
    color: rgb(0, 0, 0) !important;
    border: 2px solid white;
    width: 120px;
    height: 35px;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #fefefe;
}


.link{
    text-decoration: none;
    
}