.container{  
    background-image: url('../../img/fondo-landing.jpg');    
    min-height: 100vh; 
    --webkit-background-size: 100% 100%;           /* Safari 3.0 */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
      -o-background-size: 100% 100%;           /* Opera 9.5 */
         background-size: 100% 100%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 
.title{
    color: #d6d6d6;
    font-size: 2.5rem;
    font-family: 'Russo One', sans-serif;
}

.boton{
   color: white;
    border: 4px solid #d6d6d6;
    width: 200px;
    height: 85px;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #000000;
    font-family: 'Russo One', sans-serif;

}

.boton:hover{
  background-color: gray
}
.parrafo{
    margin-bottom: 0;
}

.link{
    text-decoration: none;
    font-size: 1.5rem;
}

.containerTitle{
  margin-left: 70px;
}

  @media(max-width:570px){
      .container{
          background-image: url('../../img/fondo-landing-responsive.jpg');
          display: flex; 
          align-items: center;
      }
      .containerTitle{
        margin-left: 0;
      }
      .title{
        font-size: 1.5rem;
        background-color:rgba(0, 0, 0, 0.76)
      }

      .link{
        font-size: 1.2rem;
      }

      .boton{
        height:50px;
        width: 120px;
      }
  }