.inputs{
    margin: 5px;
    width: 383px;
    border-radius: 4px;
    border: 2px solid ;
    padding-left: 20px;;
}

.boton{
  background-color:  #000000; 
  border: none; 
  height: 40px;
  width: 90px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}
.boton:hover{
    background-color: #FAFAFA;
    border: 1px solid #000;
    color: #000
}



@media(max-width:768px){
    .inputs{
        margin: 5px;
        width: 250px;
        border-radius: 4px;
    }
    ::placeholder{
        font-size: 12px;
        
    }
}