.navbar{
    display: inline-block;
    list-style-type: none;
}
.container{
    background-color: #eeeeee
}
.link{
    font-size: 1.2rem;
}


.link:hover{
   background-color: rgb(209, 209, 209)
}

