.navbar{
    display: inline-block;
    list-style-type: none;
    padding:0;
    height: 50px
}
.container{
    background-color: #FF7F60;
    border-bottom: 2px solid 

}
.link{
    font-size: 1.2rem;
    height:80px;
    margin-left: 20px;
     
}


.link:hover{
   background-color: rgb(255, 70, 25);
   color: black;
}

.boton{
    color: rgb(0, 0, 0);
    background: none;
    border:none;
    font-size: 1.2rem;
    display: none;
}




